<div id="gssearch-master" class="gss-center">
    <form id="searchBox" action="javascript:void(0)">
        <input type="search" placeholder="search" id="gssearch" class="gss-search-size"/>
    </form>
</div>
